<div id="bg">
  <cloud class="cloud">
    <span class="cld a"></span>
    <span class="cld b"></span>
    <span class="cld c"></span>
    <span class="cld d"></span>
    <!-- cloud shadow -->
    <span class="cld a shd"></span>
    <span class="cld b shd"></span>
    <span class="cld c shd"></span>
    <span class="cld d shd"></span>
  </cloud>

  <cloud class="cloud cloud_a">
    <span class="cld a"></span>
    <span class="cld b"></span>
    <span class="cld c"></span>
    <span class="cld d"></span>
    <!-- cloud shadow -->
    <span class="cld a shd"></span>
    <span class="cld b shd"></span>
    <span class="cld c shd"></span>
    <span class="cld d shd"></span>
  </cloud>

  <cloud class="cloud cloud_b">
    <span class="cld a"></span>
    <span class="cld b"></span>
    <span class="cld c"></span>
    <span class="cld d"></span>
    <!-- cloud shadow -->
    <span class="cld a shd"></span>
    <span class="cld b shd"></span>
    <span class="cld c shd"></span>
    <span class="cld d shd"></span>
  </cloud>

  <cloud class="cloud cloud_c">
    <span class="cld a"></span>
    <span class="cld b"></span>
    <span class="cld c"></span>
    <span class="cld d"></span>
    <!-- cloud shadow -->
    <span class="cld a shd"></span>
    <span class="cld b shd"></span>
    <span class="cld c shd"></span>
    <span class="cld d shd"></span>
  </cloud>

  <cloud class="cloud cloud_d">
    <span class="cld a"></span>
    <span class="cld b"></span>
    <span class="cld c"></span>
    <span class="cld d"></span>
    <!-- cloud shadow -->
    <span class="cld a shd"></span>
    <span class="cld b shd"></span>
    <span class="cld c shd"></span>
    <span class="cld d shd"></span>
  </cloud>


  <airplane id="airplane">
    <span class="plane head"></span>
    <span class="plane body">
      <span class="plane window"></span>
      <span class="plane window a"></span>
      <span class="plane window b"></span>
      <span class="plane window c"></span>
    </span>
    <span class="plane lwing"></span>
    <span class="plane rwing"></span>
    <span class="plane tale"></span>
  </airplane>

</div>

<div class="homepage-content">

  <h1><span class="fire">B</span><span class="burn">u</span><span class="burn">r</span><span class="fire">n</span><span class="fire">i</span><span class="burn">n</span><span class="burn">g</span><span> </span> <span class="fire">A</span><span class="burn">i</span><span class="burn">r</span><span class="fire">l</span><span class="fire">i</span><span class="burn">n</span><span class="burn">e</span><span class="fire">s</span></h1>

  <div class="home-input container">
    <div class="to-from">
      <div class="row">
        <div class= "col-md-offset-1 col-md-5">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control">
            <span class="input-group-addon">From</span>
          </div>
        </div>
        <div class= "col-md-5">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control">
            <span class="input-group-addon">To</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-8 col-md-1">
        <button type="button" class="btn btn-default btn-lg">  Go!  </button>
      </div>
    </div>
  </div>
</div>
