<div class="to-from">
  <row>

    <div class= "col-md-5">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control">
        <span class="input-group-addon">From</span>
      </div>
    </div>
    <div class= "col-md-5">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control">
        <span class="input-group-addon">To</span>
      </div>
    </div>
  </row>
</div>
<div class="departure-dates">
  <div class="input-group">
    <input type="date" class="form-control">
    <span class="input-group-addon">Departure Date</span>
  </div>
  <div class="input-group">
    <input type="date" class="form-control">
    <span class="input-group-addon"> Return Date </span>
  </div>
</div>